<div class="container">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Forgot your password </h2>

      <!-- Icon -->
      <div class="fadeIn first">
        <i class="fa-regular fa-user"></i>
      </div>

      <!-- Register Form -->
      <form >
        <input formControlName="email"  type="text" id="register" class="fadeIn second" name="forgotPassword" placeholder="email">
        <div id="validationServer04Feedback" class="invalid-feedback">
          Mandatory email
        </div>
        <br>
        <button type="submit" class="btn btn-primary custom-button custom-outline fadeIn fourth">Send it</button>
      </form>
      <div id="formFooter">
        <a routerLink="/login" class="underlineHover">Back to login</a>
      </div>
    </div>
  </div>
</div>



