
<div *ngIf="mostrarElemento" class="containerTabla">
  <h1>List Rooms</h1>

<app-spinner *ngIf="loading"></app-spinner>
<br />

<div class="container">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Barcelona" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="meetingRoomId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Meeting Room Id </th>
      <td mat-cell *matCellDef="let element"> {{element.meetingRoomId}} </td>
    </ng-container>


    <ng-container matColumnDef="meetingRoomName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Meeting Room Name</th>
      <td mat-cell *matCellDef="let element"> {{element.meetingRoomName}} </td>
    </ng-container>

    <ng-container matColumnDef="nameOffice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Office Name</th>
      <td mat-cell *matCellDef="let element">
        {{ getOfficeName(element.officeId) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Capacity</th>
      <td mat-cell *matCellDef="let element"> {{element.capacity}} <mat-icon class="person">supervisor_account</mat-icon></td>
    </ng-container>



    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <button (click)="agregarRoom()" class="buttonAceptar" mat-raised-button color="primary">Agregar Room</button>
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- <mat-icon routerLink="/verCity/{{ element.cityId }}" class="visibility" matTooltip="Ver" fontIcon="visibility"></mat-icon> -->
        <mat-icon fontIcon=""></mat-icon>
        <mat-icon (click)="editarRoom(element.meetingRoomId, element)" class="edit" matTooltip="Editar" fontIcon="edit"></mat-icon>
        <mat-icon fontIcon=""></mat-icon>
        <mat-icon (click)="openDialog(element.meetingRoomId)" class="delete" matTooltip="Eliminar" fontIcon="delete"></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>





  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>

</div>
</div>

<div *ngIf="!mostrarElemento" class="containerTabla">
  <strong><h1>No tienes permisos</h1></strong>
</div>