.containerTabla {
  width: 80%;
  background-color: white;
  position: relative;
  padding: 50px;
  margin: 20px auto 10px; /* Margen vertical de 20px arriba, 80px abajo y centrado horizontalmente */
  border-radius: 20px;
  animation: fadeIn 1s ease-in-out forwards;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  color: white;
  padding: 15px 15px 15px 15px;
  Background: black;
  font-size: 3.5vh;
}
.card {
    max-width: 400px;
    margin-bottom: 8px;
    display:block;
    margin-top:15px;
    margin-left: 28vw;
}
.input {
  margin-top: 15px;
}
.subtitle {
  text-align:center;
  font-size: 15px;
  padding-top: 15px;
}
h1{
  text-align: center;
  font-weight: 500;
}
mat-form-field{
  width: 80%;
}
