<div mat-dialog-content class="window">
  <h1>ROOM</h1>
  <form [formGroup]="form">
    <mat-grid-list cols="2" rowHeight="90px" >
      <mat-grid-tile [colspan]="2">
        <mat-form-field class="input" appearance="outline">
          <mat-label>Room Name</mat-label> 
          <input formControlName="meetingRoomName" matInput mat-cell value="meetingRoomName">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <mat-form-field class="input" appearance="outline" >
          <mat-label>Office</mat-label>
          <mat-select formControlName="officeId">
            <mat-option *ngFor="let office of offices" [value]="office.officeId">
              {{ office.nameOffice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <mat-form-field class="input" appearance="outline">
          <mat-label>Capacity</mat-label> 
          <input formControlName="capacity" matInput mat-cell value="capacity">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  <div class="btn-generals">
    <button  (click)="onNoClick()"  mat-raised-button >Back</button>
    <button (click)="agregarEditarRoom()" mat-raised-button color="primary">Save</button>
  </div>
</div>





