/* Mejora los estilos del contenido de la ventana de diálogo */
.my-dialog-content {
  width: 300px;
  margin: 0 auto;
}

.window{
  width: 250px;
  padding:30px;
  margin: 0 auto;
  overflow-y: hidden;
}

.btn-generals{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Mejora los estilos del campo de formulario */
.my-input {
  width: 100%;
}

/* Mejora los estilos de los botones */
.my-button {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 5px;
  font-size: 16px;
}

/* Centra los botones */
.my-button-container {
  display: flex;
  justify-content: center;
}

h1 {
  color:black;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 10px;
}
