.online-status {
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    width: 200px;
    margin: 20px auto;
  }
  
  .online {
    background-color: #4caf50; /* Color verde para indicar conexión en línea */
  }
  
  .offline {
    background-color: #f44336; /* Color rojo para indicar conexión fuera de línea */
  }
  