<div mat-dialog-content class="window">
  <h1>OFFICE</h1>
  <form [formGroup]="form">
    <mat-grid-list cols="2" rowHeight="90px">
      <mat-grid-tile [colspan]="2">
        <mat-form-field class="input" appearance="outline">
          <mat-label>Office Name</mat-label> 
          <input formControlName="nameOffice" matInput mat-cell value="nameOffice">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <mat-form-field class="input" appearance="outline" >
          <mat-label>City</mat-label>
          <mat-select formControlName="cityId">
            <mat-option *ngFor="let city of cities" [value]="city.cityId">
              {{ city.cityName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  <div class="btn-generals">
    <button  (click)="onNoClick()"  mat-raised-button >Back</button>
    <button (click)="agregarEditarOffice()" mat-raised-button color="primary">Save</button>
  </div>
</div>





