.row{
  align-items: center;
}

.containerTabla {
  width: 80%;
  background-color: white;
  position: relative;
  margin: 20px auto 10px; /* Margen vertical de 20px arriba, 80px abajo y centrado horizontalmente */
  border-radius: 20px;
  animation: fadeIn 1s ease-in-out forwards;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-img {
  width:auto;
  padding: 15px;
  margin:auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.user-img > img{
  overflow: hidden;
  border-radius: 8%;
  margin-bottom: 10px;
  background-color:#dcdde1;
}

div .img {
  display: block;
  width: 300px;
  height: 300px;   
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid gray round;
}

.user-info {
  text-align: left;
  flex: 1; /* Hacemos que ocupe todo el espacio disponible */
}

.user-info .text {
  padding: 2%;
}

.button-container {
  display: flex; /* Utilizamos flexbox para alinear el bot贸n al centro verticalmente */
  justify-content: center;
  margin-top: 5%;
}

.button {
  background-color: #6723d5;
  width: 100%;
}

.button:hover {
  background-color: #8d54ea;
  color: gray; /* Cambiamos el color del texto al hacer hover en el bot贸n */
}

.text{
  margin-top: 7%;
}

.editPen{
 float: right;
}

.profile{
  text-align: center;
  display: inline;
  margin-left: 100px;
  background-color: #6723d5;
  display: flex; /* Utilizamos flexbox para alinear el bot贸n al centro verticalmente */
  justify-content: center;
  margin-top: 5%;
}

.profile:hover {
  background-color: #8d54ea;
  color: gray; /* Cambiamos el color del texto al hacer hover en el bot贸n */
}

.btn-profile{
  color: white!important;
}

#img{
  height: 50px;
}

.btn-change{
  width: 35%;
  overflow:hidden;
}

.mat-mdc-button>.mat-icon {
  margin-left: 0;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 25px;
  left: 5%;
  align-content: center;
  justify-content: center;
  align-items: center;
}