<div mat-dialog-content>
    <form  [formGroup]="form" >
        <mat-form-field>
            <mat-label>Old Password</mat-label>
            <input formControlName="oldPassword" matInput  type="password">
            
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input formControlName="newPassword" matInput  type="password">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Repeat Password</mat-label>
            <input formControlName="repeatNewPassword" matInput type="password">
          </mat-form-field>
    </form>
    <button  (click)="onNoClick()"  mat-raised-button >Back</button>
    <button (click)="onChangePassword()" mat-raised-button color="primary" [disabled]="!form.valid">Save</button>
</div>

