/* BASIC */
html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #6723d5;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #cccccc;
  margin: 10px;
}

/* STRUCTURE */
.containerTabla {
  width: 80%;
  background-color: white;
  position: relative;
  padding: 50px;
  margin: 20px auto 10px; /* Margen vertical de 20px arriba, 80px abajo y centrado horizontalmente */
  border-radius: 20px;
  animation: fadeIn 1s ease-in-out forwards;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formContent {
  background: #fff;
  width: 90%;
  padding: 30px;
  position: relative;
  border-radius: 10px;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.example-card {
  margin-bottom: 10px;
  width: 100%; /* Asegura que la tarjeta ocupe todo el ancho del contenedor */
}

/* FORM TYPOGRAPHY*/
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #6723d5;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #39ace7;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  border-radius: 5px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  background-color: #fff;
  border-bottom: 2px solid #9b5fe9;
}

input::placeholder {
  color: #cccccc;
}

/* OTHERS */
*:focus {
  outline: none;
}

/* Optionally, you can add some margin to the title and form elements */
.title {
  font-size: 5vh;
  text-align: center;
  margin-top: 5vh;
}

/* Agrega este código CSS para estilizar el mensaje "No tickets found" */
.no-tickets-found {
  text-align: center;
  margin-top: 40vh;
  font-size: 20px;
  color: #cccccc;
}


.mat-card-title {
  margin-right: auto; /* Mueve el título hacia la izquierda para dejar espacio para la imagen */
}

.form-group {
  width: 100%;
}
/* BASIC */
html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #6723d5;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #cccccc;
  margin: 10px;
}

/* STRUCTURE */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.statusOpen {
  color: #067506;
  font-weight: bold;
}

.statusClosed {
  color: #c90606;
  font-weight: bold;
}

#formContent {
  background: #fff;
  width: 90%;
  padding: 30px;
  position: relative;
  border-radius: 10px;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

/* FORM TYPOGRAPHY*/
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #6723d5;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #39ace7;
}

input[type=text],
input[type=email],
textarea {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  border: 2px solid #f6f6f6;
  border-radius: 5px;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  background-color: #fff;
  border-bottom: 2px solid #9b5fe9;
}

input::placeholder {
  color: #cccccc;
}

/* OTHERS */
*:focus {
  outline: none;
}

/* Optionally, you can add some margin to the title and form elements */
.title {
  font-size: 5vh;
  text-align: center;
  margin-top: 5vh;
}

.form-group {
  width: 100%;
}

#describer {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #cccccc;
  margin: 10px;
}
