<div class="containerTabla">
  <h1>List of Countries</h1>

<app-spinner *ngIf="loading"></app-spinner>
<br>

<div class="container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Espanya" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Nombre pais Column -->
    <ng-container matColumnDef="countryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name Country</th>
      <td mat-cell *matCellDef="let element"> {{element.countryName}} </td>
    </ng-container>

    <!-- Country Id Column -->
    <ng-container matColumnDef="countryId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Id</th>
      <td mat-cell *matCellDef="let element"> {{element.countryId}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <button (click)="agregarCountry()" class="add" matTooltip="add" mat-raised-button color="primary">Add Country</button>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon fontIcon=""></mat-icon>
        <mat-icon (click)="editarCountry(element.countryId, element)" class="edit" matTooltip="Editar" fontIcon="edit"></mat-icon>
        <mat-icon fontIcon=""></mat-icon>
        <mat-icon (click)="openDialog(element.countryId)" class="delete" matTooltip="Eliminar" fontIcon="delete"></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
</div>
