<div class="containerMakeBookings">
    <h1>Respon:</h1>
    <form [formGroup]="form" (ngSubmit)="editarTicket()">
      <div class="row">
        <mat-form-field id="meetingRoomInput">
          <mat-label>Textarea</mat-label>
          <!-- Agregar formControlName para vincular el control del formulario -->
          <textarea matInput formControlName="answer"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btnAceptar" mat-raised-button color="primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
  