<div class="containerMakeBookings">
    <form  [formGroup]="form" (ngSubmit)="reservarSala()">
        <div class="row">
            <mat-form-field id="meetingRoomInput">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <button type="submit" class="btnAceptar" mat-raised-button color="primary">Submit</button>
            </div>
            <div class="col"></div>
        </div>
    </form>
</div>
