/* Estilos generales para la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.containerTabla {
  width: 80%;
  background-color: white;
  position: relative;
  padding: 50px;
  margin: 20px auto 10px; /* Margen vertical de 20px arriba, 80px abajo y centrado horizontalmente */
  border-radius: 20px;
  animation: fadeIn 1s ease-in-out forwards;
  /*--box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);--*/
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
  background-color: white;
  /*--box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);--*/
  padding: 20px;
  border-radius: 5px;
}

/* Estilos para la tabla */
table {
  width: 100%;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/*tr:nth-child(even) {
  background-color: #f7f7f7;
}*/

/* Estilos para el campo de filtro */
.mat-form-field {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin-bottom: 20px;
}

/* Estilos para los botones de acciones */
.buttonAceptar {
  margin-right: 10px;
}

.mat-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 5px;
}

/* Estilos para el paginador */
.mat-paginator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}