
<div *ngIf="mostrarElemento" class="containerTabla">
  <h1>List Cities</h1>

<app-spinner *ngIf="loading"></app-spinner>
<br />

<div class="container">
  
  <mat-form-field class="flex-grow-1 custom-input">
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar sala per nom">
    <mat-autocomplete #auto="matAutocomplete" class="custom-autocomplete">
      <mat-option class="custom-option" *ngFor="let city of filteredCity" [value]="city.cityName">
        {{ city.cityName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="cityId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City Id </th>
      <td mat-cell *matCellDef="let element"> {{element.cityId}} </td>
    </ng-container>


    <ng-container matColumnDef="cityName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City Name</th>
      <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
    </ng-container>

    <ng-container matColumnDef="countryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Name</th>
      <td mat-cell *matCellDef="let element">
        {{ getCountryName(element.countryId) }}
      </td>
    </ng-container>
    

    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <button (click)="agregarCity()" class="buttonAceptar" mat-raised-button color="primary">Agregar City</button>
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- <mat-icon routerLink="/verCity/{{ element.cityId }}" class="visibility" matTooltip="Ver" fontIcon="visibility"></mat-icon> -->
        <mat-icon fontIcon=""></mat-icon>
        <mat-icon (click)="editarCity(element.cityId, element)" class="edit" matTooltip="Editar" fontIcon="create"></mat-icon>
        <mat-icon fontIcon=""></mat-icon>
        <mat-icon (click)="openDialog(element.cityId)" class="delete" matTooltip="Eliminar" fontIcon="delete"></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>





  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>

</div>
</div>

<div *ngIf="!mostrarElemento" class="containerTabla">  <strong><h1>No tienes permisos</h1></strong>
</div>
