<p>ver-city works!</p>
<app-spinner></app-spinner>
<!--<div class="title">
  <h1>View of city</h1>
</div>
<br>

<div *ngIf="country != null" class="container mat-elevation-z5">
  <mat-card class="card">
    <mat-card-title>City</mat-card-title>
    <mat-card-content>
      <p><strong>IdCity: </strong>{{ country.countryId}}</p>
      <p><strong>Name of city: </strong>{{ country.countryName }}</p>
    </mat-card-content>
    <mat-card-actions class="card">
      <button routerLink="/listaCity" mat-raised-button>back</button>
    </mat-card-actions>
  </mat-card>
</div>-->
