<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div id="main-content" class="footer-container">
  <a class="team-name" href="https://youtu.be/f_WuRfuMXQw">Team 12</a>
  <div class="member">
    <h3 class="bounce-effect">Eric</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/eric-ramos-soto97/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/ComputerGorilla" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="member">
    <h3 class="bounce-effect">Jay Marc</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/jay-marc-abando-1570b9213/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/JayMarc13" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="member">
    <h3 class="bounce-effect">Mustapha</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/mustapha-bouleili-8003b9258/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/Mznasni" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="member">
    <h3 class="bounce-effect">Veronica</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/verónica-cartagena-jaldin-4a36a2122 " target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/cartveroj" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="member">
    <h3 class="bounce-effect">Abel</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/abel-alejandro-vald%C3%A9s-fern%C3%A1ndez-a50237249/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/RidgeSecure" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="member">
    <h3 class="bounceYeray-effect">Yeray</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/yeray-lorenzo-gomez" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/Btd20" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="member">
    <h3 class="bounce-effect">Laia</h3>
    <div class="social-icons">
      <a href="https://es.linkedin.com/in/laia-rodr%C3%ADguez-ramos-044a30245?trk=people-guest_people_search-card" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/LaiaRodriguez22" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="member">
    <h3 class="bounce-effect">Gemma</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/gemmagarrigosafrances" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/GemmaGarrigosa" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="member">
    <h3 class="bounceOriol-effect">Oriol</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/oriol-martinez-ribas-5143b6201" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/oriologin" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="member">
    <h3 class="bounce-effect">Guille</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/guillermo-jaume-murciano-604344258?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/Guilleee50" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="member">
    <h3 class="bounceHarp-effect">Harp</h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/harpreet-kaur-7865561b2" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/kaurhar65" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</div>