/* Estilos generales del footer */
.footer-container {
  background-color: #ffffff;
  width: 80%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.2), 4px -4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px 25px 0 0;
}

/* Estilos para el enlace del nombre del equipo */
.footer-container .team-name {
  font-family: var(--txtRoboto);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: var(--black);
  margin-right: 20px;
  position: relative;
}

.footer-container .team-name::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #6723d5;
  transition: width 0.2s;
}

.footer-container .team-name:hover::before {
  width: 100%;
}

/* Estilos para los miembros del team1 */
.footer-container .member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.footer-container .member h3 {
  font-family: var(--txtRoboto);
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Estilos para los iconos de redes sociales */
.footer-container .social-icons {
  display: flex;
}

.footer-container .social-icons a {
  color: var(--black);
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
}

.footer-container .social-icons a:hover {
  color: #6723d5;
}

/* Estilos para el efecto de "bounce" */
.bounce-effect:hover {
  animation: bounce 1s infinite;
}
.bounceYeray-effect:hover {
  animation: bounceYeray 2.5s infinite;
}

.bounceOriol-effect:hover {
  animation: bounceOriol 2.5s infinite;
}

.bounceHarp-effect:hover {
  animation: bounceHarp 2.5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-5px);
  }

  60% {
    transform: translateY(-3px);
  }
}

@keyframes bounceYeray {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-500px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounceHarp {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-350px);
  }

  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounceOriol {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-90px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounceGuille {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-70px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@media screen and (max-width: 767px) {
  .footer-container {
    flex-wrap: wrap;
  }

  .footer-container .member {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .footer-container .team-name {
    margin-right: 0;
  }
}

.footer-container {
  flex-wrap: wrap;
}
