<nav style="background-color: #ffffff;" class="navbar navbar-expand-lg navbar-light " id="nav">



  <div class="container-fluid">

    <div class="navbar-collapse" id="navbarNavDropdown">
      <a class="navbar-brand" href="/home">ACMEET</a>
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" fadeIn >Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/home/bookings">My Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/meetingRoom">Meeting Rooms</a>
        </li>
      </ul>

      <ul class="nav">
        <li *ngIf="mostrarElemento">
          <button mat-icon-button [matMenuTriggerFor]="administration"  appearance="legacy" xPosition="after">
              <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #administration="matMenu">
            <ng-template matMenuContent>
              <button routerLink="/home/admRooms/countries" mat-menu-item><mat-icon>public</mat-icon><span>Administrate Countries</span></button>
              <button routerLink="/home/admRooms/cities" mat-menu-item><mat-icon>location_city</mat-icon><span>Administrate Cities</span></button>
              <button routerLink="/home/admRooms/offices" mat-menu-item><mat-icon>business</mat-icon><span>Administrate Offices</span></button>
              <button routerLink="/home/admRooms/rooms" mat-menu-item><mat-icon>meeting_room</mat-icon><span>Administrate Rooms</span></button>
              <button routerLink="/home/users" mat-menu-item><mat-icon>person</mat-icon><span>Administrate Users</span></button>
              <button routerLink="/home/admReservas" mat-menu-item><mat-icon>groups</mat-icon><span>Administrate Reservations</span></button>
              <button routerLink="/home/admHelp" mat-menu-item><mat-icon>help</mat-icon><span>Administrate Questions</span></button>
            </ng-template>
          </mat-menu>
        </li>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <ng-template matMenuContent>
              <button routerLink="/home/profile" mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
              </button>
              <button routerLink="/home/help" mat-menu-item>
                <mat-icon>help</mat-icon>
                <span>Help</span>
              </button>
              <button mat-menu-item (click)="cerrarSesion()">
                <mat-icon>logout</mat-icon>
                <span>Log Out</span>
              </button>
            </ng-template>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
