<div class="container-fluid">
  <div class="row">
    <a class="col">
      <img class="salaImg1 img-fluid" src="../../../assets/img/job-gd1fb0249b_1920.jpg" alt="oficina">
    </a>
    <div class="col info">
      <h2>Meeting Rooms</h2>
      <h1>ACMEET</h1>
      <div class="bienvenida">
        Welcome to ACMEET, your comprehensive solution to efficiently manage meeting room reservations.
        Make reservations, modify and cancel without complications, thanks to our intuitive web application.
        Forget the stress of manual management and enjoy!
      </div>
      <div class="botones">
        <button (click)="openDialogAgregarReserva()" mat-fab extended color="primary">
          <mat-icon>calendar_today</mat-icon>
          Book Now!
        </button>
        <button routerLink="/home/meetingRoom" mat-fab extended color="basic" class="listRoom">
          <mat-icon>list_alt</mat-icon>
          List of Rooms
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row row1">
    <div class="col-md-6 consultaReserva">
      <div class="titulo-container">
        <h1 class="title">Check your<br>bookings!</h1>
      </div>
      <div class="botonesReserve">
        <button routerLink="/home/bookings" mat-fab extended color="primary">
          <mat-icon>calendar_today</mat-icon>
          Check my bookings
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <img class="salaImg2 img-fluid" src="../../../assets/img/a0c12c293b8a21038a59c7066ebfff28.jpg" alt="oficina">
    </div>
  </div>
</div>
<app-footer></app-footer>

