<div class="title">
  <h1>Ver Pais</h1>
</div>
<br>

<div *ngIf="country != null" class="container mat-elevation-z5">
  <mat-card class="card">
    <mat-card-title>Pais</mat-card-title>
    <mat-card-content>
      <p><strong>IdPais: </strong>{{ country.countryId}}</p>
      <p><strong>Nombre pais: </strong>{{ country.countryName }}</p>
    </mat-card-content>
    <mat-card-actions class="card">
      <button routerLink="/home/admRooms/countries" mat-raised-button>Volver</button>
    </mat-card-actions>
  </mat-card>
</div>
